<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>IT Üritused</title>
</head>

<body>
    <main>
        <div class='header'>
            <h2>{{heading}}</h2>
        </div>
        <div class="row">
            <div class="contentbar">

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev1name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev1time}}
                        <br>
                        {{ev1place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev2name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev2time}}
                        <br>
                        {{ev2place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev3name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev3time}}
                        <br>
                        {{ev3place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev4name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev4time}}
                        <br>
                        {{ev4place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev5name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev5time}}
                        <br>
                        {{ev5place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        {{ev6name}}
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{ev6time}}
                        <br>
                        {{ev6place}}
                        <br>
                    </p>
                </div>

                <div class="topic">
                    <h3 class="topic-title">
                        All events
                    </h3>
                    <p class="topic-text">
                        <br>
                        {{events}}
                        <br>
                    </p>
                </div>
            </div>
    </main>
</body>

</html>